.profile {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  // background: linear-gradient(to bottom, #3c7cbc, var(--bg-container) 50%);

  &-banner {
    width: 100%;
    max-width: 80rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .avatar {
      width: 15rem;
    }

    .adaptive {
      width: 80rem;

      &-photo {
        height: 30rem;
        max-width: 100rem;
      }
    }

    .user-details {
      display: flex;
      margin-top: -2rem;
      padding: 0 5rem;
      width: 100%;

      svg {
        height: 1.75rem;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;

        h3,
        h4 {
          margin: 0;
        }
      }
      .btn {
        height: fit-content;
        width: fit-content;
        align-self: center;
        gap: 0.5rem;
        margin-left: auto;

        path {
          transition: 0.3s ease-in-out;
        }

        &:hover {
          svg {
            path {
              fill: var(--main-purple);
            }
          }
        }
      }
    }
  }
}
