/* SinglePost component */
.single-post {
  overflow: hidden;
  max-width: 50rem;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 15;
    background-color: var(--bg-container);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 0 0.75rem 2rem;
  }

  &__author {
    display: flex;

    h4 {
      margin: 0;
    }

    &-info {
      span {
        color: var(--clr-light-gray);
      }
    }
  }

  &__stats {
    border-top: 1px solid var(--main-purple);
    padding-top: 1rem;
    display: flex;
    gap: 2rem;
    z-index: 15;
  }

  &__post {
    padding: 1rem 0;
    z-index: 15;
  }
}
