/* Button component */
.btn {
  transition: 0.3s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &-primary {
    border: 1px solid #fff;
    color: #fff;
    background-color: #6b20c0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    min-width: 5.5rem;
    min-height: 3rem;

    &:hover {
      background-color: #fff;
      color: #6b20c0;
      border: 1px solid #6b20c0;
    }
  }

  &-secondary {
    border: 1px solid #6b20c0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &:hover {
      border: 1px solid #fff;
      background-color: #6b20c0;
      color: #fff;
    }
  }

  &-back {
    width: fit-content;
    &:hover {
      color: #6b20c0;
    }
  }

  &-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
  }

  &__icon {
    height: 1.5rem;
    transition: 0.2s ease-in-out;

    &--like {
      height: 1.75rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
