/* Button component */
button {
  color: #fff;
  background-color: #6b20c0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: #fff;
    color: #6b20c0;
    border: 1px solid #6b20c0;
  }
}
