.menu {
  margin-left: auto;
  position: relative;

  &__icon {
    height: 1.5rem;

    path {
      fill: var(--clr-dim-gray);
    }

    &--active {
      path {
        fill: #6b20c0;
      }
    }
  }

  .options-list {
    position: absolute;
    background-color: var(--clr-dim-gray);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    right: 0;
    z-index: 100;
    list-style: none;
    margin: 0;

    &__delete {
      font-weight: 400;
      color: red;
    }
  }
}
