/* Header component */
.header {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #532d81;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__logo {
    height: 3rem;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;

    .logout-icon {
      height: 1.5rem;

      path {
        transition: 0.3s ease-in-out;
      }

      &:hover {
        path {
          fill: red;
        }
      }
    }

    .avatar {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;

      .aspect-ratio {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

// #6B20C0
// #603296
// #6D00EB
// #4F366B
// #352B41
// #2E2B33
