/* Header component */
header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #532d81;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  img {
    height: 3rem;
  }
}

// #6B20C0
// #603296
// #6D00EB
// #4F366B
// #352B41
// #2E2B33
